body{
	background-color:whitesmoke;
    color:black ;
    margin: 0px;
}
header {
    display: flex;
    width: 80%;
    height: 10vh;
    margin: auto;
    align-items: center;
    font-family: Monaco;
}
img{
   display:block;
   margin:auto;
}
nav{
    flex: 2;
    margin-top: 40px;
}
.menu{
    position: absolute;
    right: 40px;
}

.menu a{
    color: #333;
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
    transition: color 1s;
	padding: 0.2rem 0.3rem;
	transition: all 0.4s linear;
	border-radius:5px ;
    /*text-transform: uppercase;*/
}

.menu a:hover{
    background: #CED3D5;
}
.logo {
   flex: 1;
    font-weight: 200;
    margin: 5px;
    background-size: contain;
    width: 25%;
    height: 55px;
    float: left;
}
section{
    flex: 3;
    margin-top: 120px;
}
p {
    font-family: 'Italianno', cursive;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    margin: 15px 25px;
    color: black;
}
h2 {
    font-family: 'Work Sans', sans-serif;
    margin: 15px 25px;
}
footer {
    width: 100%;
    background: #CED3D5;
	padding: 1rem 0;
}
.pie{
	width: 100%;
	text-align: center;
}
.btn {
    display: none;
    position: absolute;
    right: 20px;
}
.btn:hover > span {
    background-color: #E85860;
}
.btn span {
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #333;
}

@media only screen and (max-width: 550px){
        nav {
        overflow: visible;
    }
    .menu {
        width: 100%;
        right: 0;
        top: 80px;
        background: #f1f1f1E6;
        overflow: hidden;
        max-height: 0;
    }
    .menu a{
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .btn {
        display: block;
        cursor: pointer;
    }
    .show {
        max-height: 500px;
    }
}
